@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    margin: 0;
    background-color: #FAF7FD;
    color:   #BB99DD;
    font-family: 'Poppins', sans-serif;
}

body{    
    width: 230px;
    margin: 30px auto;
}

#perfilimg{
    border: #BB99DD solid 3px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}

#user{
    text-align: center;
    margin-top: 10px;
}

p{
    margin-top: 10px;
    border: #BB99DD solid 2px;
    text-align: center;
}

#icons{
    margin: 30px 9px;
    display: inline;
}